/* Hasta 320 pixeles de ancho no hay problemas */

@media (max-width: 735px) {

  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    width: 100%;
  }
  .nav__list {
    display: none;
    text-align: center;
    padding: 0;
  }
  .nav__list.active{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
  }
  .nav__item {
    width: 100%;
    padding: 3px 0;
  }
  .nav__item:hover {
    border-bottom: none;
    background-color: rgb(175, 175, 175);
  }
  .hamburger-menu {
    display: flex;
  }

}

@media (max-width: 790px) {
  .articles-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
  }

  .schedule-container {
    flex-direction: column;
  }
  .schedule-info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }
  .schedule-info-container__text {
    flex-direction: column;
  }
  .fourth-section__calendar-container {
    width: 50%;
  }
  .fourth-section__calendar-img {
    width: 100%;
  }
  .schedule-info-container,
  .fourth-section__calendar-container {
    margin: 0 auto 20px;
  }
}
