/* Hasta 320 pixeles de ancho no hay problemas */

@media (max-width: 770px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    width: 100%;
  }
  .nav__list {
    display: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav__list.active {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
  }
  .nav__item {
    width: 100%;
    padding: 4px 0;
  }
  .nav__item:hover {
    border-bottom: none;
    background-color: #000000;
  }
  .nav__item a {
    display: block;
  }
  .nav__item a:hover {
    color: #ffffff;
  }
  .hamburger-menu {
    display: flex;
  }
}

@media (max-width: 790px) {
  .articles-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
  }

  .schedule-container {
    flex-direction: column;
  }
  .schedule-info-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }
  .schedule-info-container__text {
    flex-direction: column;
  }
  .schedule-info-container,
  .calendar {
    margin: 0 auto 50px;
  }
}

@media (max-width: 600px) {
  .contact-container {
    flex-direction: column;
    border-radius: 10px;
    max-width: 320px;
  }
  .contact-button {
    font-size: 3rem;
  }
}
