/* Las propiedades estan ordenadas en orden alfabetico */
/* Uso de la metodologia BEM */

@import url("https://fonts.googleapis.com/css2?family=Taprom&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Header */

.header {
  align-items: center;
  background-color: #fffbf4;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__img-container {
  margin: 0 30px;
  width: 85px;
}

.header__img {
  width: 100%;
}

.nav {
  margin: 0 auto;
}

.nav__item {
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 30px;
}

.nav__item a {
  color: black;
  text-decoration: none;
}

.nav__item:hover {
  border-bottom: 1px solid #000000;
}

/* Menu mobile */

.hamburger-menu {
  display: none;
  flex-direction: column;
  height: 30px;
  justify-content: space-between;
  position:absolute;
  right: 2rem;
  top: 2.8rem;
  width: 40px;
}

.hamburger-menu .bar {
  background-color: black;
  border-radius: 10px;
  height: 5px;
  width: 100%;
}

/* Primera seccion */

.first-section {
  background-image: url("../assets/img/section-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.store-name-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 180px 0;
  text-align: center;
}

.store-name-container__phrase {
  color: #ffffff;
  font-size: 6rem;
  font-family: "Taprom";
  margin: 0;
}

.store-name-container__name {
  color: #ffffff;
  margin: 30px 0;
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2rem;
  padding-left: 2rem;
}

.origin-info {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}

/* Segunda seccion  */

.second-section {
  background-color: #272727;
}
.customers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.customers-container__middle-title {
  color: #ffffff;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.swiper {
  border: 6px solid #FFFFFF;
  width: 25%;
  min-width: 290px;
}

.swiper-slide img {
  width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: #FFFFFF;
}

.swiper .swiper-pagination-bullet-active {
  background: #FFFFFF;
}

/* Tercera seccion */

.third-section {
  background-color: #ffffff;
}

.articles-container {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 20%;
}

.card__img-container,
.card__title {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.card__img {
  width: 100px;
}

.card__text {
  color: rgb(126, 126, 126);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.8rem;
}

/* Cuarta seccion */

.fourth-section {
  background-color: #000000;
  color: #ffffff;
}

.schedule-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

.schedule-info-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
}

.schedule-info-container span {
  font-size: 2.3rem;
}

.schedule-info-container__text {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.schedule-info-container__information {
  font-size: 1.6rem;
}

.schedule-info-container :nth-child(3),
.schedule-info-container :nth-child(4) {
  border-bottom: 1px solid rgb(65, 65, 65);
}

.calendar {
  margin-left: 150px;
  width: 300px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  font-size: 1.5rem;
}

.calendar-picture {
  position: relative;
  height: 200px;
  padding: 20px;
  color: #FFFFFF;
  background: #262626 url("../assets/img/calendario.jpg") no-repeat center/cover;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.calendar-picture::before {
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0 , 0.1));
}

.calendar-picture h2 {
  margin: 0;

}

.calendar-picture h3 {
  margin: 0;
  font-weight: 500;
}

.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
  color: #262626;
}

.calendar__day:nth-child(7) {
  color: #ff6c32;
}

.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: #262626;
}

.calendar__number:nth-child(7n) {
  color: #FF685D;
  font-weight: 700; 
}

.calendar__number--current,
.calendar__number:hover {
  background-color: #242424;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
}