/* Las propiedades estan ordenadas en orden alfabetico */
/* Uso de la metodologia BEM */

/* Header */

.header {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
}

.header__img-container {
  margin: 0 30px;
}

.header__img {
  width: 100px;
}

.nav {
  margin: 0 auto;
}

.nav__list {
  padding: 0;
}

.nav__item {
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 30px;
}

.nav__item:hover {
  border-bottom: 1px solid #000000;
}

/* Primera seccion */

.first-section {
  background-image: url(/assets/img/section1.jpg);
  background-size: cover;
}

.store-name-container {
  align-items: center;
  display: flex;
  flex-direction: column; /* Arreglar alineamiento del titulo nombre */
  justify-content: center;
  padding: 150px 0;
  text-align: center;
}

.store-name-container__phrase {
  color: #FFFFFF;
  font-size: 4rem;
  font-family: "Rage";
  margin: 0 0 20px 0;
}

.store-name-container__name {
  color: #FFFFFF;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 24px;
  margin: 20px 0;
}

.origin-info {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

/* Segunda seccion  */

.story-container {
  align-items: center;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
}

.origin-info {
  color: #FFFFFF;
  margin-bottom: 5px;
}

.story-container__middle-title {
  color: #FFFFFF;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.story-container__text {
  color: #FFFFFF;
  margin-bottom: 25px;
  text-align: center;
  width: 40%;
}

.story-container__button {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 3px;
  padding: 11px 50px;
  text-decoration: none;
}

.story-container__button:hover {
  background-color: #FFFFFF;
  color: black;
}

/* Tercera seccion */

.third-section {
  background-color: #FFFFFF;
}

.articles-container {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 20%;
}

.card__img-container,
.card__title {
  margin-bottom: 10px;
}

.card__img {
  width: 100px;
}

.card__text {
  color: rgb(126, 126, 126);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  text-align: center;
}

/* Cuarta seccion */

.fourth-section {
  background-color: #000000;
  color: #FFFFFF;
}

.schedule-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

.schedule-info-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  width: 50%;
}

.schedule-info-container span {
  font-size: 1.5rem;
}

.schedule-info-container__text {
  display: flex;
  justify-content: space-between;
}

.schedule-info-container :nth-child(3),
.schedule-info-container :nth-child(4) {
  border-bottom: 1px solid rgb(65, 65, 65);
}

.fourth-section__calendar-container {
  width: 22%;
  margin-right: auto;
}

.fourth-section__calendar-img {
  width: 100%;
}
