/* Las propiedades estan ordenadas en orden alfabetico */
/* Uso de la metodologia BEM */

@import url("https://fonts.googleapis.com/css2?family=Taprom&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Header */

.header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  position: sticky;
  top: 0;
}

.header__img-container {
  margin: 0 30px;
  width: 85px;
}

.header__img {
  width: 100%;
}

.nav {
  margin: 0 auto;
}

.nav__item {
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 30px;
}

.nav__item a {
  text-decoration: none;
  color: black;
}

.nav__item:hover {
  border-bottom: 1px solid #000000;
}

.hamburger-menu {
  position:absolute;
  top: 2.8rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  display: none;
  height: 30px;
}

.hamburger-menu .bar {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/* Primera seccion */

.first-section {
  background-image: url("/assets/img/section1.jpg");
  background-size: cover;
}

.store-name-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 180px 0;
  text-align: center;
}

.store-name-container__phrase {
  color: #ffffff;
  font-size: 5.5rem;
  font-family: "Taprom";
  margin: 0;
}

.store-name-container__name {
  color: #ffffff;
  margin: 30px 0;
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2rem;
  padding-left: 2rem;
  width: 100%;
}

.origin-info {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

/* Segunda seccion  */

.second-section {
  background-color: #272727;
}
.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.origin-info {
  color: #ffffff;
}

.story-container__middle-title {
  color: #ffffff;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}
/* Tercera seccion */

.third-section {
  background-color: #ffffff;
}

.articles-container {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 20%;
}

.card__img-container,
.card__title {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.card__img {
  width: 100px;
}

.card__text {
  color: rgb(126, 126, 126);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.8rem;
}

/* Cuarta seccion */

.fourth-section {
  background-color: #000000;
  color: #ffffff;
}

.schedule-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 150px 0;
}

.schedule-info-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 30px 0 auto;
  width: 40%;
}

.schedule-info-container span {
  font-size: 2.3rem;
}

.schedule-info-container__text {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.schedule-info-container__information {
  font-size: 1.6rem;
}

.schedule-info-container :nth-child(3),
.schedule-info-container :nth-child(4) {
  border-bottom: 1px solid rgb(65, 65, 65);
}

.fourth-section__calendar-container {
  width: 22%;
  margin-right: auto;
}

.fourth-section__calendar-img {
  width: 100%;
}
